@charset "utf-8";

@mixin dummy{
  display:inline-block;
  overflow:hidden;
  height:100%;
  vertical-align:middle;
  content:'';
}

@mixin clearfix{
  &:after{
    display:block;
    clear:both;
    content:'';
  }
}

@mixin imgFlex($rate:100%){
  overflow:hidden;
  position:relative;
  height:0;
  padding-top:$rate;
  .flex-target{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    text-align:center;
  }
  img.flex-target{
    object-fit:cover;
  }
}

@mixin ellipsis{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

@mixin clampNum ($line:2){
  display:-webkit-box;
  -webkit-box-orient:vertical;
  overflow:hidden;
  text-overflow:ellipsis;
  -webkit-line-clamp:$line;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  word-break:break-word;
  word-wrap:break-word;
}

@mixin rnded ($rndValue){
  border-top-left-radius:$rndValue;
  border-top-right-radius:$rndValue;
  border-bottom-left-radius:$rndValue;
  border-bottom-right-radius:$rndValue;
}

@mixin scrollTouch {
  -webkit-overflow-scrolling:touch;
}

@mixin flexLayout($wrap:wrap,$direction:row,$justify:center,$align:center){
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: $wrap;
  flex-direction: $direction;
  -webkit-box-align: $align;
  -ms-flex-align: $align;
  align-items: $align;
  -webkit-box-pack: $justify;
  -ms-flex-pack: $justify;
  justify-content: $justify;
}

@mixin u_tb{
  display:table;
  width:100%;
}

@mixin u_tb_fixed{
  display:table;
  width:100%;
  table-layout:fixed;
}

@mixin u_td{
  display:table-cell;
}

@mixin is_bg($bg_color,$txt_color:#fff){
  background-color:$bg_color;
  color:$txt_color;
  border-color:$bg_color;
}

@mixin midCenterTransform ($x, $y){
  -webkit-transform:translate($x, $y);
  transform:translate($x, $y);
}

@mixin keyframes($name){
  @keyframes #{$name} {
    @content;
  } 
}

@mixin linear-gradient ($parameters...){
  background: -webkit-linear-gradient($parameters);
  background: -o-linear-gradient($parameters);
  background: -moz-linear-gradient($parameters);
  background: linear-gradient($parameters);
}

@mixin list_horizontal_scroll ($margin:10px){
  overflow-x:scroll;
  white-space:nowrap;
  > li {
    display:inline-block;
    margin-left:$margin;
    &:first-child {
      margin-left:0;
    }
    > a {
      display:block;
    }
  }
}